<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="com.nova.antaeul" >

	<!--위치정보에 대한 퍼미션-->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-feature
		android:name="android.hardware.camera"
		android:required="false"/> <!-- 카메라 기능 사용 -->
	<uses-permission android:name="android.permission.CAMERA"/> <!-- 카메라 권한 -->
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- 파일 읽기 권한 -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	
	<application
		android:hardwareAccelerated="false"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"

		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">

		<meta-data android:name="com.kakao.sdk.AppKey" android:value="aa1f3417683cce7ad9797c715d402673"/>

		<activity android:name="com.nova.antaeul.loading_activity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".terms_activity">
		</activity>
		<activity android:name=".campingmap_activity">
		</activity>
		<activity android:name=".campingnote_activity">
		</activity>
		<activity android:name=".campingnotedetail_activity">
		</activity>
		<activity android:name=".campingnotewrite_activity">
		</activity>
		<activity android:name=".findpassword_activity">
		</activity>
		<activity android:name=".findpasswordsuccess_activity">
		</activity>
		<activity android:name=".loginpage_activity">
		</activity>
		<activity android:name=".main_activity">
		</activity>
		<activity android:name=".modifynote_activity">
		</activity>
		<activity android:name=".searchaddress_activity">
		</activity>
		<activity android:name=".searchfilter_activity">
		</activity>
		<activity android:name=".searchresults_activity">
		</activity>
		<activity android:name=".selectdate_activity">
		</activity>
		<activity android:name=".signup1_activity">
		</activity>
		<activity android:name=".signup2_activity">
		</activity>
		<activity android:name=".signup_activity">
		</activity>
		<activity android:name=".sitereservation_activity">
		</activity>
		<activity android:name=".timeline_activity">
		</activity>
		<activity android:name=".timelinedetail_activity">
		</activity>
		<activity android:name=".viewmore_activity">
		</activity>
	</application>
</manifest>